<% include ../head.ejs %>
<% include ../sidebar.ejs %>
<div class="content-page">
<% include ../topbar.ejs %>

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title">Approve User Permission</h4>
            <p class="text-muted font-14 m-b-20">
                 Please Approve or Reject below user request for user permission.
            </p>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Region</th>
        <th>Permission</th>
        <th>Approval</th>
      </tr>
    </thead>
    <tbody>
      <%users.forEach((user) => {%>
      <tr>
        <td></td>
        <td><%=user.name%></td>
        <td><%=user.username%></td>
        <td><%=user.email%></td>
        <td><%=user.region%></td>
        <td><%=user.tempPermission%></td>
        <td> <a class="btn btn-success" href="/admin/approve-permission/approve/<%=user._id%>/<%=user.tempPermission%>">Approve</a> <a class="btn btn-danger" href="/admin/approve-permission/reject/<%=user._id%>">Reject</a> </td>
      </tr>
      <%})%>
    </tbody>
  </table>
</div>

</div>
<% include ../footer.ejs %>
<script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>
<script src="/assets/pages/jquery.dashboard.init.js"></script>
