<% include ../head.ejs %>
<% include ../sidebar.ejs %>
<div class="content-page">
  <% include ../topbar.ejs %>


  <!-- KNOB JS -->
  <!--[if IE]>
  <script type="text/javascript" src="../plugins/jquery-knob/excanvas.js"></script>
  <![endif]-->
  <script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>

  <!-- Dashboard Init -->
  <script src="/assets/pages/jquery.dashboard.init.js"></script>
  <% include ../footer.ejs %>
