<% include ../head.ejs %>
<% include ../sidebar.ejs %>
<div class="content-page">
<% include ../topbar.ejs %>

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title">Managers of Campus Connect</h4>
            <p class="text-muted font-14 m-b-20">
                 View List of Managers of Campus Connect.
            </p>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Region</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <%managers.forEach((manager) => {%>
        <tr>
          <td></td>
          <td><%=manager.name%></td>
          <td><%=manager.region%></td>
          <td><%=manager.email%></td>
        </tr>
      <%})%>
    </tbody>
  </table>
  </div>
  </div>
  </div>
<% include ../footer.ejs %>
<script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>
<script src="/assets/pages/jquery.dashboard.init.js"></script>
