
<!-- Begin page -->
<div id="wrapper">

    <!-- ========== Left Sidebar Start ========== -->
    <div class="left side-menu">

        <div class="slimscroll-menu" id="remove-scroll">

            <!-- LOGO -->
            <div class="topbar-left">
                <a href="#" class="logo">
                    <span>
                        <img src="https://hostmud.com/wp-content/uploads/2017/10/logo.png" alt="" height="20">
                    </span>
                    <i>
                        <img src="http://www.fusionfirst.com/wp-content/uploads/2017/06/Fusion.png" alt="" height="40">
                    </i>
                </a>
            </div>

            <!-- User box -->
            <div class="user-box">
                <div class="user-img">
                    <img src="/profilePhoto/<%=user.profilePhoto%>" alt="user-img" title="Profile Photo" class="rounded-circle img-fluid">
                </div>
                <h5><a href="/profile"><%= user.name %></a> </h5>
                <p class="text-muted"><%= user.permission %></p>
            </div>

            <!--- Sidemenu -->
            <div id="sidebar-menu">

                <ul class="metismenu" id="side-menu">
                    <li>
                        <a href="/dashboard"><i class="fa fa-television"></i> <span> Dashboard </span> <span class="menu-arrow"></span></a>
                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class="icon-people"></i> <span> Manager Users </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">

                            <li><a href="/admin/user/create">Create User</a></li>
                            <li><a href="/admin/approve-permission">Approve Permissions</a></li>
                            <li><a href="/admin/manager/view">View Manager</a></li>
                            <li><a href="#">Report</a></li>

                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class=" icon-check"></i> <span> Events </span> <span class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="/manager/viewEvents"><span> View Events </span> </a>
                            </li>
                            <li>
                                <a href="/manager/upcomingEvents"><span> Upcoming Events </span> </a>
                            </li>
                            <li>
                                <a href="/manager/pastEvents"><span> Past Events </span> </a>
                            </li>
                            <li>
                                <a href="/manager/addEvents"><span> Add Events </span> </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript: void(0);"><i class=" fa fa-cogs"></i> <span>Manage Campus </span> <span
                                class="menu-arrow"></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li>
                                <a href="/manager/viewCampus"><span> View Campus </span> </a>
                            </li>
                            <li>
                                <a href="/manager/addCampus"><span> Add Campus </span> </a>
                            </li>
                        </ul>
                    </li>
                    <%include ../common.ejs%>

                    </ul>





            </div>
            <!-- Sidebar -->

            <div class="clearfix"></div>

        </div>
        <!-- Sidebar -left -->

    </div>
    <!-- Left Sidebar End -->
