<% include ../head.ejs %>
<% include ../sidebar.ejs %>
<div class="content-page">
<% include ../topbar.ejs %>

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title">Add New User on Campus Connect</h4>
            <p class="text-muted font-14 m-b-20">
                 Please Approve or Reject below user request for user permission.
            </p>
  <% if (errorMessage.length > 0) { %>
      <div class="alert alert-danger"><%= errorMessage %></div>
  <% } %>
  <% if (successMessage.length > 0) { %>
      <div class="alert alert-success"><%= successMessage %></div>
  <% } %>
  <form class="form-horizontal" action="/admin/user/create" method="post">
      <div class="form-group row m-b-20">
          <div class="col-12">
              <label for="name">Full Name</label>
              <input class="form-control" type="name" id="name" name="name" required="" placeholder="Anand Prakash">
          </div>
      </div>

      <div class="form-group row m-b-20">
          <div class="col-12">
              <label for="emailaddress">Email address</label>
              <input class="form-control" type="email" id="emailaddress" name="email" required="" placeholder="Enter your Email">
          </div>
      </div>

      <div class="form-group row m-b-20">
          <div class="col-12">
              <label for="username">Username</label>
              <input class="form-control" type="name" id="username" name="username" required="" placeholder="Enter Username">
          </div>
      </div>

      <div class="form-group row m-b-20">
          <div class="col-12">
              <label for="password">Password</label>
              <input class="form-control" type="password" name="password" required="" id="password" placeholder="Enter your password">
          </div>
      </div>

      <div class="form-group row m-b-20">
          <div class="col-12">
              <label for="password">Confirm Password</label>
              <input data-parsley-equalto="#password" type="password" required placeholder="Re-Enter Password" class="form-control" id="password1">
          </div>
      </div>

      <div class="form-group row m-b-20">
          <div class="col-12">
              <label for="region">Region</label>
              <% include ../regions.ejs %>
          </div>
      </div>

      <div class="form-group row m-b-20">
          <div class="col-12">
              <label for="region">Sign Up As</label>
              <select class="form-control" name="permission">
                <option value="" selected>-Select-</option>
                <option value="admin">Admin</option>
                <option value="manager">Manager</option>
                <option value="ambsdr">Campus Ambassador</option>
              </select>
          </div>
      </div>

      <div class="form-group row text-center m-t-10">
          <div class="col-12">
              <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Sign Up</button>
          </div>
      </div>
  </form>
  </div>
  </div>
  </div>
<% include ../footer.ejs %>
<script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>
<script src="/assets/pages/jquery.dashboard.init.js"></script>
