<% include ../head.ejs %>
<% include ../sidebar.ejs %>
<div class="content-page">
    <% include ../topbar.ejs %>
    <div class="containingBody">
        <h2 style="text-align:center">List of all previous tasks</h2>
        <%if(tasks.length>0){%>
        <div class="row">
            <%tasks.forEach(function(task){%>
            <div class="col-s3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=task.title%>
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            <%=task.description%>
                        </h6>
                        <p class="card-text">Due Date:
                            <%=task.dueDate%>
                        </p>
                        <a href="#" class="card-link">Status:
                            <%if(task.status==1){%>
                            <span class="badge badge-success">Completed</span>
                            <%}%>
                            <%if(task.status==0){%>
                            <span class="badge badge-warning">Pending</span>
                            <%}%>
                            <%if(task.status==-1){%>
                            <span class="badge badge-danger">Not Complted</span>
                            <%}%>

                            <!-- <a href="#" class="card-link">Another link</a> -->
                            <br />
                            <br />
                            <input type="checkbox" name="<%=task._id%>" />
                    </div>
                </div>
            </div>

            <%})%>
        </div>

        <%}%>
    </div>
    <% include ../footer.ejs %>
    <script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>
    <script src="/assets/pages/jquery.dashboard.init.js"></script>