<li>
    <a href="#"><i class=" fa fa-group"></i> <span> Groups </span> <span class="menu-arrow"></span></a>
    <ul class="nav-second-level" aria-expanded="false">
        <li>
            <!--<a href="/group/create" data-toggle="modal" data-target="#group-create"><span>Create Group </span> </a>-->
            <!-- Button trigger modal -->
            <!-- Modal -->
            <!--<div class="modal fade" id="group-create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Create Group</h4>
                  </div>
                  <form class="" action="/group/create" method="post">
                    <div class="modal-body">
                      <label for="">Enter Group Name</label>
                      <input type="text" name="name">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>-->
        </li>
        <li>
            <a href="/my-groups"><span>My Groups </span> </a>
        </li>

    </ul>
</li>
