<div class="col-md-12">
    <div class="card-box">

        <form class="" action="/discussion/add/<%=collection%>/<%=id%>" method="post">

            <div class="media-body">
            <textarea  name="post" class="form-control input-sm" placeholder="Hey <%= user.name %>, Write something here ...."></textarea>
            <div class="mt-2 text-right">

            <button type="submit" name="button" class="btn btn-sm btn-custom waves-effect waves-light">Post</button>
                </div>
            </div>
        </form>
    </div>
    <%discussions.sort((a,b) => {
      if (a._id > b._id) {
        return -1;
      }
      if (a._id < b._id) {
        return 1;
      }

      // names must be equal
      return 0;
    })%>
    <%discussions.forEach((discussion) => {%>
      <div class="card-box">
          <div>
              <div class="media m-b-20">
                  <div class="d-flex mr-3">
                      <a href="#"> <img class="media-object rounded-circle thumb-sm" alt="64x64" src="/profilePhoto/<%=user.profilePhoto%>"> </a>
                  </div>
                  <div class="media-body">



                      <h5 class="mt-0"><font color="#365899"><%= user.name %></font></h5>


                      <p class="font-13 text-muted mb-0">
                              <h4><%=discussion.post%></h4>
                              <%if(discussion.image){%>
                              <%discussion.image.forEach((img) => {%>
                              <img src="<%=img%>" alt="Post Image">
                              <%})%>
                              <%}%>
                              <strong><font color="#606770">Comments</font></strong><br />

                              <%if(discussion.comments){%>
                              <%discussion.comments.forEach((comment) => {%>
                                <div class="panel">
                                  <%=comment.comment%>
                                </div>

                              <br /><span class="badge badge-success">
                              <%=comment.commentedBy.name%>
                              <%=moment(comment.createdAt).fromNow()%>.</span><br /><br />
                              <%})%>
                              <%}%>
                      </p>
                      <form class="" action="/comment/add/<%=discussion._id%>" method="post">
                          <label for="">Reply</label>

                          <div class="media-body">
                              <input type="text" name="comment" class="form-control input-sm" placeholder="Write your comment ....">
                              <div class="mt-2 text-right">
                                  <button type="submit" name="button" class="btn  btn-custom waves-effect waves-light">Post</button>
                              </div>
                          </div>
                      </form>
                    </div>
                </div>
            </div>
        </div>
    <%})%>
</div>
