<% include head.ejs %>
<% include sidebar.ejs %>
<div class="content-page">
<% include topbar.ejs %>

<div class="row">
    <div class="col-lg-6">
        <div class="card-box">
            <h4 class="m-t-0 header-title">Create New Group</h4>
            <p class="text-muted font-14 m-b-20">
                Add New Group for meeting and discussion.
            </p>
  <form class="form-horizontal" action="/group/create" method="post">
    <div class="form-group">
        <label class="control-label col-sm-12" for="email">Group Name</label>
        <div class="col-sm-12">
            <input type="text" class="form-control" id="email" placeholder="name" name="name">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-12" for="email">Group Type</label>
        <div class="col-sm-12">
            <select class="form-control" id="email" placeholder="name" name="type">
            <option value="Public">Public</option>
            <option value="Private">Private</option></select>
        </div>
    </div>

    <button type="submit" class="btn btn-custom btn-block waves-effect waves-light" name="button">Create</button>
  </form>
<% include footer.ejs %>
<script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>
<script src="/assets/pages/jquery.dashboard.init.js"></script>
