<% include head.ejs %>
<% include sidebar.ejs %>
<div class="content-page">
<% include topbar.ejs %>
<div class="row">

<div class="col-xl-4">
    <div class="card-box project-box">
        <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle card-drop arrow-none" data-toggle="dropdown" aria-expanded="false">
                <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
            </a>

        </div>
        <p class="text-muted text-uppercase mb-0 font-13">Created by <%group.admins.forEach((admin) => {%> <%=admin.name%> <%})%> </p>
        <h4 class="mt-0 mb-3"><a href="#" class="text-dark"><%=group.name%></a></h4>
        <p class="text-muted font-13">
        </p>

        <div class="project-members mb-4">
            <label class="mr-3">Admin :</label> <%group.admins.forEach((admin) => {%>
            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mat Helme">
                <img src="/profilePhoto/<%=admin.profilePhoto%>" class="rounded-circle thumb-sm" alt="<%=admin.name%>" title="<%=admin.name%>" />
            </a>
      <%})%>
        </div>

        <div class="project-members mb-4">
            <label class="mr-3">Members :</label> <%group.members.forEach((member) => {%>
            <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mat Helme">
                <img src="/profilePhoto/<%=member.profilePhoto%>" class="rounded-circle thumb-sm" alt="<%=member.name%>" title="<%=member.name%>" />
            </a>
<%})%>

  <a href="#" data-toggle="modal" data-target="#member-add"><span class="add-new-plus"><i class="mdi mdi-plus"></i> </span></a>

        </div>


    </div>


    <div class="modal fade" id="member-add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Member</h4>
          </div>
          <form class="" action="/group/member/add" method="post">
            <input type="hidden" name="group" value="<%=group._id%>">
            <div class="modal-body">
              <label for="">Select User</label>

              <select class="form-control" name="member" required>
                <option value="">-Select-</option>
                <%users.forEach((use) => {%>
                  <option value="<%=use._id%>"><%=use.name%></option>
                <%})%>
              </select>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Add</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

<div class="col-xl-8">

<%let discussions = group.discussions, collection = 'group', id = group._id%>
<%include discussions.ejs%>
</div></div>
<% include footer.ejs %>
<script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>
<script src="/assets/pages/jquery.dashboard.init.js"></script>
