<% include head.ejs %>

<body class="account-pages">

  <!-- Begin page -->
  <div class="accountbg" style="background: url('https://images.unsplash.com/photo-1504384308090-c894fdcc538d');background-size: cover;"></div>
  <div class="wrapper-page account-page-full">

    <div class="card">
      <div class="card-block">

        <div class="account-box">

          <div class="card-box p-5">
            <h2 class="text-uppercase text-center pb-4">
              <a href="#" class="text-success">
                <span><img src="https://hostmud.com/wp-content/uploads/2017/10/logo.png" alt="" height="30"></span>
              </a>
            </h2>

            <form class="" action="/login" method="post">
              <% if (messageError.length > 0) { %>
                <div class="alert alert-danger"><%= messageError %></div>
                <% } %>
                <% if (messageSuccess.length > 0) { %>
                  <div class="alert alert-success"><%= messageSuccess %></div>
                  <% } %>
                  <div class="form-group m-b-20 row">
                    <div class="col-12">
                      <label for="emailaddress">Username</label>
                      <input class="form-control" type="username" id="username" name="username" required="" placeholder="Enter your Username">
                    </div>
                  </div>

                  <div class="form-group row m-b-20">
                    <div class="col-12">

                      <label for="password">Password</label>
                      <input class="form-control" type="password" required="" id="password" name="password" placeholder="Enter your password">
                    </div>
                  </div>

                  <div class="form-group row m-b-20">
                    <div class="col-12">

                      <div class="checkbox checkbox-custom">
                        <input id="remember" type="checkbox" checked="">
                        <label for="remember">
                          Remember me
                        </label>
                      </div>

                    </div>
                  </div>

                  <div class="form-group row text-center m-t-10">
                    <div class="col-12">
                      <button class="btn btn-block btn-custom waves-effect waves-light" type="submit">Sign In</button>
                    </div>
                  </div>

                </form>

                <div class="row m-t-50">
                  <div class="col-sm-12 text-center">
                    <a href="/password/forgot" class="text-muted pull-right">Forgot your password?</a>
                    <p class="text-muted pull-left">Don't have an account? <a href="/signup" class="text-dark m-l-5"><b>Sign Up</b></a></p>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>

        <div class="m-t-40 text-center">
          <p class="account-copyright">2018 © Hostmud. Ltd. All Rights Reserved</p>
        </div>

      </div>





      <% include footer.ejs %>
