<% include head.ejs %>
<% include sidebar.ejs %>
<div class="content-page">
<% include topbar.ejs %>
<div class="float-right">
  <div class="btn btn-custom btn-block waves-effect waves-light" data-toggle="modal" data-target="#group-create">Create New Group</div>
  <div class="modal fade" id="group-create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Create Group</h4>
        </div>
        <form class="" action="/group/create" method="post">
          <div class="modal-body">
            <label for="">Enter Group Name</label>
            <input type="text" name="name">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<h1>My Groups</h1>
<ul>
  <%groups.forEach((group) => {%>
    <li><h3><a href="/group/<%=group._id%>"><%=group.name%></a></h3></li>
  <%})%>
</ul>
<% include footer.ejs %>
<script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>
<script src="/assets/pages/jquery.dashboard.init.js"></script>
