<% include ../head.ejs %>
<% include ../sidebar.ejs %>
<div class="content-page">
<% include ../topbar.ejs %>

<% include ../footer.ejs %>
<script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>
<script src="/assets/pages/jquery.dashboard.init.js"></script>
