<select class="form-control" name="region">
  <option selected="selected">-Select-</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#000000"><i>-Top Metropolitan Cities-</i></font></option>
  <option>Ahmedabad</option>
  <option>Bengaluru/Bangalore</option>
  <option>Chandigarh</option>
  <option>Chennai</option>
  <option>Delhi</option>
  <option>Gurgaon</option>
  <option>Hyderabad/Secunderabad</option>
  <option>Kolkatta</option>
  <option>Mumbai</option>
  <option>Noida</option>
  <option>Pune</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Andhra Pradesh-</i></font></option>
  <option>Anantapur</option>
  <option>Guntakal</option>
  <option>Guntur</option>
  <option>Hyderabad/Secunderabad</option>
  <option>kakinada</option>
  <option>kurnool</option>
  <option>Nellore</option>
  <option>Nizamabad</option>
  <option>Rajahmundry</option>
  <option>Tirupati</option>
  <option>Vijayawada</option>
  <option>Visakhapatnam</option>
  <option>Warangal</option>
  <option>Andra Pradesh-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Arunachal Pradesh-</i></font></option>
  <option>Itanagar</option>
  <option>Arunachal Pradesh-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Assam-</i></font></option>
  <option>Guwahati</option>
  <option>Silchar</option>
  <option>Assam-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Bihar-</i></font></option>
  <option>Bhagalpur</option>
  <option>Patna</option>
  <option>Bihar-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Chhattisgarh-</i></font></option>
  <option>Bhillai</option>
  <option>Bilaspur</option>
  <option>Raipur</option>
  <option>Chhattisgarh-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Goa-</i></font></option>
  <option>Panjim/Panaji</option>
  <option>Vasco Da Gama</option>
  <option>Goa-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Gujarat-</i></font></option>
  <option>Ahmedabad</option>
  <option>Anand</option>
  <option>Ankleshwar</option>
  <option>Bharuch</option>
  <option>Bhavnagar</option>
  <option>Bhuj</option>
  <option>Gandhinagar</option>
  <option>Gir</option>
  <option>Jamnagar</option>
  <option>Kandla</option>
  <option>Porbandar</option>
  <option>Rajkot</option>
  <option>Surat</option>
  <option>Vadodara/Baroda</option>
  <option>Valsad</option>
  <option>Vapi</option>
  <option>Gujarat-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Haryana-</i></font></option>
  <option>Ambala</option>
  <option>Chandigarh</option>
  <option>Faridabad</option>
  <option>Gurgaon</option>
  <option>Hisar</option>
  <option>Karnal</option>
  <option>Kurukshetra</option>
  <option>Panipat</option>
  <option>Rohtak</option>
  <option>Haryana-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Himachal Pradesh-</i></font></option>
  <option>Dalhousie</option>
  <option>Dharmasala</option>
  <option>Kulu/Manali</option>
  <option>Shimla</option>
  <option>Himachal Pradesh-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Jammu and Kashmir-</i></font></option>
  <option>Jammu</option>
  <option>Srinagar</option>
  <option>Jammu and Kashmir-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Jharkhand-</i></font></option>
  <option>Bokaro</option>
  <option>Dhanbad</option>
  <option>Jamshedpur</option>
  <option>Ranchi</option>
  <option>Jharkhand-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Karnataka-</i></font></option>
  <option>Bengaluru/Bangalore</option>
  <option>Belgaum</option>
  <option>Bellary</option>
  <option>Bidar</option>
  <option>Dharwad</option>
  <option>Gulbarga</option>
  <option>Hubli</option>
  <option>Kolar</option>
  <option>Mangalore</option>
  <option>Mysoru/Mysore</option>
  <option>Karnataka-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Kerala-</i></font></option>
  <option>Calicut</option>
  <option>Cochin</option>
  <option>Ernakulam</option>
  <option>Kannur</option>
  <option>Kochi</option>
  <option>Kollam</option>
  <option>Kottayam</option>
  <option>Kozhikode</option>
  <option>Palakkad</option>
  <option>Palghat</option>
  <option>Thrissur</option>
  <option>Trivandrum</option>
  <option>Kerela-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Madhya Pradesh-</i></font></option>
  <option>Bhopal</option>
  <option>Gwalior</option>
  <option>Indore</option>
  <option>Jabalpur</option>
  <option>Ujjain</option>
  <option>Madhya Pradesh-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Maharashtra-</i></font></option>
  <option>Ahmednagar</option>
  <option>Aurangabad</option>
  <option>Jalgaon</option>
  <option>Kolhapur</option>
  <option>Mumbai</option>
  <option>Mumbai Suburbs</option>
  <option>Nagpur</option>
  <option>Nasik</option>
  <option>Navi Mumbai</option>
  <option>Pune</option>
  <option>Solapur</option>
  <option>Maharashtra-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Manipur-</i></font></option>
  <option>Imphal</option>
  <option>Manipur-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Meghalaya-</i></font></option>
  <option>Shillong</option>
  <option>Meghalaya-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Mizoram-</i></font></option>
  <option>Aizawal</option>
  <option>Mizoram-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Nagaland-</i></font></option>
  <option>Dimapur</option>
  <option>Nagaland-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Orissa-</i></font></option>
  <option>Bhubaneshwar</option>
  <option>Cuttak</option>
  <option>Paradeep</option>
  <option>Puri</option>
  <option>Rourkela</option>
  <option>Orissa-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Punjab-</i></font></option>
  <option>Amritsar</option>
  <option>Bathinda</option>
  <option>Chandigarh</option>
  <option>Jalandhar</option>
  <option>Ludhiana</option>
  <option>Mohali</option>
  <option>Pathankot</option>
  <option>Patiala</option>
  <option>Punjab-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Rajasthan-</i></font></option>
  <option>Ajmer</option>
  <option>Jaipur</option>
  <option>Jaisalmer</option>
  <option>Jodhpur</option>
  <option>Kota</option>
  <option>Udaipur</option>
  <option>Rajasthan-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Sikkim-</i></font></option>
  <option>Gangtok</option>
  <option>Sikkim-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Tamil Nadu-</i></font></option>
  <option>Chennai</option>
  <option>Coimbatore</option>
  <option>Cuddalore</option>
  <option>Erode</option>
  <option>Hosur</option>
  <option>Madurai</option>
  <option>Nagerkoil</option>
  <option>Ooty</option>
  <option>Salem</option>
  <option>Thanjavur</option>
  <option>Tirunalveli</option>
  <option>Trichy</option>
  <option>Tuticorin</option>
  <option>Vellore</option>
  <option>Tamil Nadu-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Tripura-</i></font></option>
  <option>Agartala</option>
  <option>Tripura-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Union Territories-</i></font></option>
  <option>Chandigarh</option>
  <option>Dadra & Nagar Haveli-Silvassa</option>
  <option>Daman & Diu</option>
  <option>Delhi</option>
  <option>Pondichery</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Uttar Pradesh-</i></font></option>
  <option>Agra</option>
  <option>Aligarh</option>
  <option>Allahabad</option>
  <option>Bareilly</option>
  <option>Faizabad</option>
  <option>Ghaziabad</option>
  <option>Gorakhpur</option>
  <option>Kanpur</option>
  <option>Lucknow</option>
  <option>Mathura</option>
  <option>Meerut</option>
  <option>Moradabad</option>
  <option>Noida</option>
  <option>Varanasi/Banaras</option>
  <option>Uttar Pradesh-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Uttaranchal-</i></font></option>
  <option>Dehradun</option>
  <option>Roorkee</option>
  <option>Uttaranchal-Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-West Bengal-</i></font></option>
  <option>Asansol</option>
  <option>Durgapur</option>
  <option>Haldia</option>
  <option>Kharagpur</option>
  <option>Kolkatta</option>
  <option>Siliguri</option>
  <option>West Bengal - Other</option>
  <option disabled="disabled" style="background-color:#3E3E3E"><font color="#FFFFFF"><i>-Other-</i></font></option>
  <option>Other</option>
</select>
