<%if(user.permission == "admin"){%>
<% include ./admin/sidebar.ejs %>

<%}else if(user.permission == "manager"){%>
<% include ./manager/sidebar.ejs %>

<%}else if(user.permission == "ambsdr"){%>
<% include ./ambsdr/sidebar.ejs %>

<%}else{%>
  <%console.log("NO sidebar")%>
<%}%>
