<!-- Top Bar Start -->
<div class="topbar">

    <nav class="navbar-custom">

        <ul class="list-unstyled topbar-right-menu float-right mb-0">

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <img src="/profilePhoto/<%=user.profilePhoto%>" alt="user" class="rounded-circle"> <span class="ml-1"><%= user.name %> <i class="mdi mdi-chevron-down"></i> </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-animated profile-dropdown ">


                    <!-- item-->
                    <a href="/profile" class="dropdown-item notify-item">
                        <i class="dripicons-user"></i> <span>My Profile</span>
                    </a>

                    <!-- item-->
                    <a href="/profile/edit" class="dropdown-item notify-item">
                        <i class="fi-cog"></i> <span>Update Profile</span>
                    </a>

                    <!-- item-->
                    <a href="#" class="dropdown-item notify-item">
                        <i class="fa fa-bell"></i> <span>Support</span>
                    </a>



                    <!-- item-->
                    <a href="/logout" class="dropdown-item notify-item">
                        <i class="fi-power"></i> <span>Logout</span>
                    </a>

                </div>
            </li>

        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left">
                    <i class="dripicons-menu"></i>
                </button>
            </li>
            <li>
                <div class="page-title-box">
                  <%if(user.permission == "admin"){%>
                  <h4 class="page-title">Campus Admin Dashboard </h4>

                  <%}else if(user.permission == "manager"){%>
                  <h4 class="page-title">Manager Dashboard </h4>

                  <%}else if(user.permission == "ambsdr"){%>
                  <h4 class="page-title">Campus Ambassador Dashboard </h4>

                  <%}%>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">Campus Connect Dashboard</li>
                    </ol>
                </div>
            </li>

        </ul>

    </nav>

</div>
<!-- Top Bar End -->
