<% include ../head.ejs %>
<% include ../sidebar.ejs %>
<div class="content-page">
    <% include ../topbar.ejs %>

    <div class="row">
        <div class="col-lg-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">Add New Campus</h4>
                <p class="text-muted font-14 m-b-20">
                    Please Add New Campus to create Ambassadors.
                </p>
                <%if (obj) { %>
                <script>alert("campus added successfully")</script>
                <% } %>
                <form class="form-horizontal" method="POST" action="./addCampus">
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="email">Campus Name</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="email" placeholder="name" name="name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-12" for="address">Address</label>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control" placeholder="Campus Address" name="addressLine" />
                                    </div>
                                    <div class="col-sm-4">
                                        <% include ../regions.ejs %>
                                    </div>

                                    <div class="col-sm-4">
                                        <input name="pincode" class="form-control" Placeholder="ZIP Code" type="number" />
                                    </div>
                                </div>

                                <!-- <input type="text" class="form-control" id="email" placeholder="location" name="location"> -->
                            </div>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-12" for="email">Description</label>
                        <div class="col-sm-12">
                            <textarea class="form-control" id="email" placeholder="Basic information about campus ...."
                                name="description"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-12" for="email">Email</label>
                        <div class="col-sm-12">
                            <input type="email" class="form-control" id="email" placeholder="example@example.com" name="email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="email">Phone Number</label>
                        <div class="col-sm-12">
                            <input type="number" class="form-control" id="email" placeholder="Contact Numebr" name="phone">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="form-group text-center m-b-0">
                            <button class="btn btn-custom btn-block waves-effect waves-light" type="submit">
                                Save
                            </button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
    <% include ../footer.ejs %>
    <script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>
    <script src="/assets/pages/jquery.dashboard.init.js"></script>