<% include ../head.ejs %>
<% include ../sidebar.ejs %>
<div class="content-page">
    <% include ../topbar.ejs %>
    <%if (script) { %>
    <script>alert("event added successfully")</script>
    <% } %>
    <div class="row">
        <div class="col-lg-6">
            <div class="card-box">
                <h4 class="m-t-0 header-title">Add New Event</h4>
                <p class="text-muted font-14 m-b-20">
                    Fill below details to add new event for campus
                </p>

                <form class="form-horizontal" method="POST" action="./addEvents">
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="email">Event Name</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="email" placeholder="name" name="name">
                        </div>
                    </div>

                    <%if (campuses.length > 0) { %>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="email">Select Campus</label>
                        <div class="col-sm-12">
                            <select name="campus">
                                <option selected="selected" value="">
                                    select campus
                                </option>
                                <% campuses.forEach(function(campus) { %>
                                <option value=<%=campus._id %>>
                                    <%=campus.name%>
                                </option>
                                <% }); %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p style="text-align:center;border-bottom:1px solid black">OR</p>
                        </div>
                    </div>
                    <% } %>

                    <div class="form-group">
                        <label class="control-label col-sm-12" for="email">Location</label>
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="row">
                                  <div class="col-sm-4">
                                      <input type="text" class="form-control" placeholder="Address" name="addressLine" />
                                  </div>
                                    <div class="col-sm-4">
                                        <% include ../regions.ejs %>
                                    </div>

                                    <div class="col-sm-4">
                                        <input name="pincode" placeholder="ZIP Code" class="form-control" type="number" />
                                    </div>
                                </div>

                                <!-- <input type="text" class="form-control" id="email" placeholder="location" name="location"> -->
                            </div>
                    <div class="form-group">
                        <label class="control-label col-sm-12" for="email">Description</label>
                        <div class="col-sm-12">
                            <textarea type="text" class="form-control" id="email" placeholder="description" name="description"></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-12" for="email">Event Date</label>
                        <div class="col-sm-12">
                            <input type="date" class="form-control" id="email" placeholder="EventDate" name="EventDate">
                        </div>
                    </div>

                    <div class="form-group">
                      <div class="form-group text-center m-b-0">
                        <button class="btn btn-custom btn-block waves-effect waves-light" type="submit">
                          Save
                        </button>
                    </div></div>


                </form>
            </div>
        </div>
    </div>
    <% include ../footer.ejs %>
    <script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>
    <script src="/assets/pages/jquery.dashboard.init.js"></script>
