<% include ../head.ejs %>
<% include ../sidebar.ejs %>
<div class="content-page">
    <% include ../topbar.ejs %>
    <div class="containingBody">
        <div class="">
            <%=foundUser.username%>
            <img class="rounded-circle" width="100" height="100" src='/profilePhoto/<%=foundUser.profilePhoto%>' alt="image is not fpou" />
            <%=foundUser.email%>
            <%=foundUser.permission%>
            <%=foundUser.name%>
            <%=foundUser.region%>
        </div>
        <%if(tasks.length>0){%>

        <%tasks.forEach(function(task){%>


        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">
                    <%=task.title%>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <%=task.description%>
                </h6>
                <p class="card-text">Due Date:
                    <%=task.dueDate%>
                </p>
                <a href="#" class="card-link">Status:
                    <%if(task.status==1){%>
                    <span class="badge badge-success">Completed</span>
                    <%}%>
                    <%if(task.status==0){%>
                    <span class="badge badge-warning">Pending</span>
                    <%}%>
                    <%if(task.status==-1){%>
                    <span class="badge badge-danger">Not Complted</span>
                    <%}%>
                    <!-- <a href="#" class="card-link">Another link</a> -->
            </div>
        </div>



        <%})%>
        <%}%>
        <div class="">
            <button class="btn btn-primary" data-toggle="modal" data-target="#addAmbassdor">
                ADD TASK
            </button>
        </div>
        <li>
            <!-- Button trigger modal -->
            <!-- Modal -->
            <div class="modal fade" id="addAmbassdor" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                    aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" style="text-align:center" id="myModalLabel">Add Task</h4>
                        </div>
                        <form class="" action="/manager/addTask/<%=foundUser._id%>" method="post">
                            <input type="hidden" name="campus" value="">
                            <div class="modal-body">
                                <div class="col-s4">title</div>
                                <div class="col-s8">
                                    <input class="form-control" type="text" name="title">
                                </div>
                                <div class="col-s4">description</div>
                                <div class="col-s8">
                                    <input class="form-control" type="text" name="description">
                                </div>
                                <div class="col-s4">dueDate</div>
                                <div class="col-s8">
                                    <input class="form-control" type="date" name="dueDate">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </li>
    </div>
    <% include ../footer.ejs %>
    <script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>
    <script src="/assets/pages/jquery.dashboard.init.js"></script>