<% include ../head.ejs %>
<% include ../sidebar.ejs %>
<div class="content-page">
    <% include ../topbar.ejs %>
    <!-- code by AP -->
    <div class="content">
        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12">
                    <div class="card-box task-detail">
                        <div class="media mt-0 m-b-30">
                            <img class="d-flex mr-3 rounded-circle" alt="64x64" src="/profilePhoto/<%=user.profilePhoto%>" style="width: 48px; height: 48px;">
                            <div class="media-body">
                                <h5 class="media-heading mb-0 mt-0"><font color="#365899"><%= user.name %></font></h5>
                                <span class="badge badge-success"><%= user.permission %></span>
                            </div>
                        </div>
        <%events.forEach((event) => {%>
      <h4 class="m-b-20">
            <%=event.name%>
        </h4>

        <p class="text-muted">
            <%=event.description%>
        </p>
        <ul class="list-inline task-dates m-b-0 mt-5">
            <li>
                <h5 class="m-b-5">Event Date</h5>
                <p> <%=moment(event.EventDate).format('ll')%></p>
            </li>

            <li>
                <h5 class="m-b-5">Location</h5>
                <p> <%if(event.campus){%>
                  <%=Object.values(event.campus.location).join(', ')%>
                <%} else {%>
                  <%=Object.values(event.location).join(', ')%>
                <%}%></p>
            </li>
        </ul>
      <div class="clearfix"></div>
      <div class="task-tags mt-4">
          <h5 class="">Created By</h5>
          <strong><%=event.createdBy.name%></strong> on
          <%=moment(event.createdAt).format('ll')%>
      </div>
      <!-- static content -->
      <!--<div class="assign-team mt-4">
          <h5 class="m-b-5">Assign to</h5>
          <div>
              <a href="#"> <img class="rounded-circle thumb-sm" alt="64x64" src="/profilePhoto/<%=user.profilePhoto%>"> </a>
              <a href="#"> <img class="rounded-circle thumb-sm" alt="64x64" src="/profilePhoto/<%=user.profilePhoto%>"> </a>
              <a href="#"> <img class="rounded-circle thumb-sm" alt="64x64" src="/profilePhoto/<%=user.profilePhoto%>"> </a>
              <a href="#"> <img class="rounded-circle thumb-sm" alt="64x64" src="/profilePhoto/<%=user.profilePhoto%>"> </a>
              <a href="#"><span class="add-new-plus"><i class="mdi mdi-plus"></i> </span></a>
          </div>
      </div>-->
      </div></div>
    <!-- status -->


    </div>

      <!-- right side comment and status -->



        <%let discussions = event.discussions, collection = 'event', id = event._id%>
        <%include ../discussions.ejs%>
      <!-- right side comment and status end -->



        <%})%>
    </div>
    <% include ../footer.ejs %>
    <script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>
    <script src="/assets/pages/jquery.dashboard.init.js"></script>
