<% include ../head.ejs %>
<% include ../sidebar.ejs %>
<div class="content-page">
    <% include ../topbar.ejs %>


    <h4 class="m-t-0 header-title" style="text-align:center">All Campuses</h4>
    <p class="text-muted font-14 m-b-20" style="text-align:center">
        List of All Campuses
        <div class="row">
            <% campuses.forEach(function(campus) { %>
            <div class="col-md-4">
                <div class="card-box" style="border:solid">
    </p>
    <div class="card card-pricing text-center px-3 mb-4">
        <span style="font-size: 1.1em" class="h6 w-60 mx-auto px-4 py-1 rounded-bottom bg-primary text-white shadow-sm">
            <%=campus.name%></span>

        <div class="card-body pt-0">
            <ul class="list-unstyled mb-4">
                <li>
                    Location:
                    <%=campus.location.region%><br />
                    <!-- <%=campus.location.addressLine%><br /> -->
                    <!-- <%=campus.location.pincode%><br /> -->
                    Phone No. :
                    <%=campus.phone%><br />
                    Email :
                    <%=campus.email%><br />
                </li>
                <% if(campus.ambassadors.length>0){ %>
                <ul class="list-unstyled">
                    <li>Added Ambassador</li>
                    <ul class="list-unstyled">
                        <% campus.ambassadors.forEach(function(abms) { %>
                        <a class="btn btn-primary" href="./ambassdor/<%=abms._id%>">
                            <%=abms.username%>
                        </a>
                        <% })%>
                    </ul>
                </ul>
                <% }%>
                <li>
                    <div class="btn btn-custom btn-block waves-effect waves-light" style="font-size:15px" data-toggle="modal" data-target="#campus-<%=campus._id%>">Add Ambassador</div>
                    <!-- Button trigger modal -->
                    <!-- Modal -->
                    <div class="modal fade" id="campus-<%=campus._id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                      <div class="modal-dialog" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Add Ambasador</h4>
                          </div>
                          <form class="" action="/manager/ambassador/add" method="post">
                            <input type="hidden" name="campus" value="<%=campus._id%>">
                            <div class="modal-body">
                              <label for="">Select Ambassador</label>
                              <select class="form-control" name="ambassdor" required>
                                <option value="">-Select-</option>
                                <%ambsdr.forEach((amb) => {%>
                                  <option value="<%=amb._id%>"><%=amb.name%></option>
                                <%})%>
                              </select>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <button type="submit" class="btn btn-primary">Add</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
<!-- <option value=<%=campus._id %>>
    <%=campus.name%>
</option> -->
<% }); %>
</div>
<% include ../footer.ejs %>
<script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>
<script src="/assets/pages/jquery.dashboard.init.js"></script>
