<% include ../head.ejs %>
<% include ../sidebar.ejs %>
<div class="content-page">
    <% include ../topbar.ejs %>
    <!-- code by AP -->
    <div class="content">
        <div class="container-fluid">
<div class="row">
  <%events.forEach((event) => {%>
    <div class="col-xl-6">
        <div class="card-box project-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop arrow-none" data-toggle="dropdown" aria-expanded="false">
                    <h3 class="m-0 text-muted"><i class="mdi mdi-dots-horizontal"></i></h3>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1">
                    <a class="dropdown-item" href="#">Edit</a>
                    <a class="dropdown-item" href="#">Delete</a>
                    <a class="dropdown-item" href="#">Add Members</a>
                    <a class="dropdown-item" href="#">Add Due Date</a>
                </div>
            </div>
            <p class="text-muted text-uppercase mb-0 font-13"><%=event.createdBy.name%>  on
            <%=moment(event.createdAt).format('ll')%> Added</p>
            <h4 class="mt-0 mb-3"><a href="./viewEvents/details" class="text-dark"><%=event.name%></a></h4>
            <p class="text-muted font-13"><%=event.description%>
            </p>

            <ul class="list-inline">
                <li class="list-inline-item">
                    <h3 class="mb-0"><%=moment(event.EventDate).format('ll')%></h3>
                    <p class="text-muted">Event Date</p>
                </li>
                <li class="list-inline-item">
                    <a href="./viewEvents/details" class="btn btn-custom mb-5 btn-rounded w-md waves-effect waves-light mb-4"><i class="mdi mdi-plus-circle"></i> Explore More</a>

                </li>

            </ul>

            <div class="project-members mb-4">
                <label class="mr-3">Team :</label>
                <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Mat Helme">
                    <img src="/profilePhoto/<%=user.profilePhoto%>" class="rounded-circle thumb-sm" alt="friend" />
                </a>

                <a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Michael Zenaty">
                    <img src="/profilePhoto/<%=user.profilePhoto%>" class="rounded-circle thumb-sm" alt="friend" />
                </a>

            </div>

            <label class="">Task completed: <span class="text-custom">55/85</span></label>
            <div class="progress mb-1" style="height: 7px;">
                <div class="progress-bar"
                     role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"
                     style="width: 80%;">
                </div><!-- /.progress-bar .progress-bar-danger -->
            </div><!-- /.progress .no-rounded -->

        </div>
    </div><!-- end col-->
<%})%>





</div>
</div>
</div>
          <% include ../footer.ejs %>
          <script src="http://coderthemes.com/highdmin/plugins/jquery-knob/jquery.knob.js"></script>
          <script src="/assets/pages/jquery.dashboard.init.js"></script>
